.navbar {
    min-height: 175px;
    font-family: $secondaryFont;
    font-size: 2rem;
   
   

    background-color: $segColor ;

}
.nav-link {
    color:$txtColor !important;
    transition: 0.75s !important;
    &:hover {
        font-size: 2.3rem;
        
    }
}
.navbar-toggler{background-color: $txtColor !important;}

    


    


