.inicio {
    list-style: none;
    font-size: 2rem;
    font-family: 'Belanosima';
    font-style:normal;
    text-decoration: none;
    background-color:$mainColor;
    color: $txtColor;
   
    display:grid;
    height: 100vh;
    width: 100%;
    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1.5fr;

    grid-template-areas: 
    "quien productos servicios     contacto"
    "imagen-inicio imagen-inicio      imagen-inicio imagen-inicio ";
    

}
.imagen-inicio {
    display: grid;
    background-image: url(../img/pizza-inicio.jpeg);
    background-position: center;
    background-size: cover;
    opacity: 95%;
    
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(6, 2, 56);
    margin: 5px;

     -webkit-animation:flip-in-hor-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
     animation:flip-in-hor-bottom .5s cubic-bezier(.25,.46,.45,.94) both;

    grid-area: imagen-inicio;
}

.logo {
    display: grid;
    background-image: url(./img/Logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 50%;
    
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(6, 2, 56);

    grid-area: logo;
}

.quien {
    display: grid;
    background-color:$mainColor;
    justify-content: center;
    align-items: center;

    transition: 0.75s;
    grid-area: quien;

    &:hover { background-color:$segColor;
        font-size: 4rem;
        border: 8px solid $mainColor;
    }
    -webkit-animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
    animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
}

.productos {
    display: grid;
    background-color:$segColor;
    justify-content: center;
    align-items: center;

    transition: 0.75s;
    grid-area: productos;

    &:hover { background-color:$segColor;
        font-size: 4rem;
        border: 8px solid $mainColor;
    }
    -webkit-animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
    animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
}

.servicios {
    display: grid;
    background-color:$mainColor;
    justify-content: center;
    align-items: center;

    transition: 0.75s;


    grid-area:servicios;
   
    &:hover { background-color:$segColor;
        font-size: 4rem;
        border: 8px solid $mainColor;
    }
    -webkit-animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
    animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
 
}

.contacto {
    display: grid;
    background-color:$segColor;
    justify-content:center;
    align-items:center;

    transition: 0.75s;

    grid-area:contacto;

    &:hover {
        background-color: $mainColor;
        font-size: 4rem;
        border: 8px solid $segColor;
       
    }
    -webkit-animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
    animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
   
}


 @-webkit-keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}


@-webkit-keyframes flip-in-hor-bottom{0%{-webkit-transform:rotateX(80deg);transform:rotateX(80deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}@keyframes flip-in-hor-bottom{0%{-webkit-transform:rotateX(80deg);transform:rotateX(80deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}

